$stages-count: 4;
$stage-index-size: 18px;
$border-width: 1px;

$container-size-desktop-HD: 1200px;
$container-size-desktop: 630px;
$container-size-tablet: 535px;

.stages {
	position: relative;
	display: flex;
	flex-flow: row-reverse nowrap;
	justify-content: space-between;
	margin-bottom: 60px;
	transition: all $default-transition-duration $default-transition-function;

	@include media-breakpoint-between(sm, md) {
		padding-left: 15px;
	}
}

.stage {
	$stage: &;
	position: relative;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	&--active {
		#{$stage}__index {
			color: #000;
			border-color: $primary-color;

			&::before {
				background-color: $primary-color;
			}
		}

		& ~ #{$stage} {
			#{$stage}__index {
				border-color: $primary-color;
				background-color: $primary-color;

				&::before {
					background-color: $primary-color;
				}
			}
		}
	}

	&:last-child {
		#{$stage}__index {
			&::before {
				display: none;
			}
		}
	}

	&__index {
		$stageIndex: &;
		display: flex;
		justify-content: center;
		align-items: center;
		width: $stage-index-size;
		height: $stage-index-size;
		margin-bottom: 10px;
		font-size: 10px;
		line-height: 1;
		color: darken($color: $secondary-color, $amount: 10%);
		border: #{$border-width} solid darken($color: $secondary-color, $amount: 10%);
		border-radius: 50%;
		background-color: #fff;

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			top: calc(#{$stage-index-size} / 2);
			right: 50%;
			display: flex;
			width: calc(#{$container-size-desktop-HD} / #{$stages-count} + 100% + #{$border-width} * 4);
			height: 1px;
			background-color: darken($color: $secondary-color, $amount: 10%);
			transition: all $default-transition-duration $default-transition-function;

			@include media-breakpoint-between(sm, md) {
				width: calc(#{$container-size-desktop} / #{$stages-count} + 100% + #{$border-width} * 4);
			}

			@include media-breakpoint-down(sm) {
				width: calc(#{$container-size-tablet} / #{$stages-count} + 100% + #{$border-width} * 4);
			}
		}
	}
}
