.trigger {
	$trigger: &;
	display: none;
	width: 29px;
	margin-left: 25px;

	&__icon {
		fill: #000;
		transition: fill $default-transition-duration $default-transition-function;
	}

	&:hover,
	&:active,
	&:focus {
		#{$trigger}__icon {
			fill: $primary-color;
		}
	}

	&:focus {
		outline: none;
	}

	@include media-breakpoint-down(sm) {
		display: flex;
	}
}
