.main-content {
	position: relative;
	display: flex;
	width: 100%;
	height: inherit;

	&__container {
		display: flex;
		height: inherit;

		@include make-container($gutter: 0);
		@include make-container-max-widths;
	}
}
